/* Main Container format and layout */
.base-text-wrapper {
    text-transform: uppercase;
    font-family: 'Open sans', sans-serif;
    letter-spacing: 1px;
    word-spacing: 2px;
    background-color: #f4f4f4;
    width: 50px;
}

/* Page title */
.content-title {
    font-size: 22px;
    color: var(--dark-color);
    font-weight: 700;
}

/* Page description */
.content-othtext {
    line-height: 20px;
    font-size: 12px;
    color: var(--dark-color-50p);
}

/* Content container */
.content-base-container {
    padding: 50px 80px;
}

.content-base-container form {
    width: 100%;
}

/* Global label for admin */
.content-base-container label {
    color: var(--dark-color);
    font-weight: 600;
    letter-spacing: .5px;
    word-spacing: 1px;
    cursor: pointer;
    display: block;
    max-width: 200px;
}

/* Input animation effect */
.line-container:not(:first-child) {
    clear: both;
    padding: 30px 0;
}

.content-base-container .effect-container {
    width: 460px;
}

@media (max-width: 1280px) {
    .content-base-container .effect-container {
        width: 280px;
    }
}

.content-base-container input[type=file] {
    height: auto !important;
}

/* Input button */
.admin-btn-submit {
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    margin-top: 40px;
    padding: 7px 10px !important;
    border-radius: 3px;
    cursor: pointer;
    max-width: 150px;
    width: 100%;
    background-color: var(--info) !important;
    color: var(--light-color);
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    border: none !important;
}

.admin-btn-submit:hover, .admin-btn-submit:focus, .admin-btn-submit:active {
    background-color: #4898b0 !important;
    box-shadow: 0 0 0 0.2rem rgba(72, 152, 176,.25);
}


/* Upload Actual Data page */
.note-box {
    white-space: normal;
    margin-bottom: 40px;
}

/* Upload Manual Data page */
.admin-primary-btn {
    padding: 5px 15px !important;
    font-size: 13px;
    font-weight: 600;
    text-align: center;
    border-radius: 25px;
    cursor: pointer;
    width: auto;
    background-color: var(--primary-color) !important;
    color: var(--light-color);
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    border: none !important;
}

.admin-primary-btn:hover, .admin-primary-btn:focus, .admin-primary-btn:active {
    background-color: #002d47 !important;
    box-shadow: 0 0 0 0.2rem rgba(0, 45, 71,.25);
    color: var(--light-color);
    text-decoration: none !important;
}

/* Update scorecard item page */
.update-scorecard-container {
    padding: 0px 30px 60px;
}

/* Table /admin */
.update-scorecard-container .table td, .update-scorecard-container .table th, .update-scorecard-container input {
    text-align: center;
}

.table td input, .table td textarea {
    font-size: 13px;
}

.table thead th {
    border-bottom: none !important;
    background: #343A40 !important;
    color: var(--light-color);
    font-size: 13px;
}
