/* Main Container format and layout */
.base-text-wrapper {
    text-transform: uppercase;
    font-family: 'Open sans', sans-serif;
    letter-spacing: 1px;
    word-spacing: 2px;
    background-color: #f4f4f4;
    width: 50px;
}

/* Page title */
.content-title {
    font-size: 22px;
    color: var(--dark-color);
    font-weight: 700;
}

/* Page description */
.content-othtext {
    line-height: 20px;
    font-size: 12px;
    color: var(--dark-color-50p);
}

/* Content container */
.content-base-container {
    padding: 50px;
}

label {
    margin-top: 30px;
    color: var(--dark-color);
    font-weight: 600;
    letter-spacing: .5px;
    word-spacing: 1px;
    cursor: pointer;
}

#title {
    margin-bottom: 30px;
    text-align: center;
    font-weight: 700;
    font-size: 24px;
}
.note-box {
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0px 2px 8px var(--dark-color-50p);
    max-width: 350px;
    margin-top: 20px;
    background-color: white;
}

.note-box p {
    white-space: normal;
    margin-bottom: 0px;
}
.subtitle {
    margin-top: 30px;
    margin-bottom: 8px;
    text-align: center;
    font-weight: 700;
    font-size: 18px;
}

.wrapper-ni-manic {
    background-color: var(--light-color-50p);
    backdrop-filter: blur(8px);
    margin: 30px;
    box-shadow: 0px 0px 8px var(--dark-color);
    padding-top: 15px;
    padding-bottom: 15px;
}
ul.admin-menu {
    list-style-type: none;
    padding: 0px;
    text-align: center;
}
ul.admin-menu li {
    margin-bottom: 8px;
}
.content {
    background-color: var(--dark-color-50p);
    padding: 30px;
    height: 100%;
}
input, select {
    padding: 2px;
    width: 100%;
}
form > label, form > input, form > select {
    display: block;
    min-width: 300px;
    width: auto !important;
}
input[type=submit] {
    margin-top: 30px !important;
    padding: 8px;
}
.message-box {
    margin-top: 50px;
    background-color: var(--tertiary-color);
    border-radius: 8px;
    padding: 8px;
    font-size: 18px;
    text-align: center;
}
.good {
    background-color: var(--secondary-color);
    color: initial;
}
.table {
    margin-top: 30px;
    background-color: var(--light-color);
}
textarea.item-cell, textarea.input-desc {
    min-height: 75px;
    width: 100%;
}
.item-cell[disabled] {
    resize: none;
}
i {
    padding-right: 4px;
}