@import "core.css";

body, html {
    height: 100%;
    font-size: 14px;
    color: var(--dark-color-50p) !important;
}

/* Dashboard styling here */
/* Dashboard / styling all dashboard title categories / global */
.dboard-wrapper {
    background-color: #f9fafb;
    white-space: nowrap;
}

.dboard-wrapper table {
    color: var(--dark-color-50p);
}

.dboard-wrapper table th, .dboard-wrapper table td {
    padding: 1em;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: #f4f4f4 !important;
}

.table-hover tbody tr:hover {
    color: var(--dark-color-50p) !important;
    background-color: #f4f4f4 !important;
}

.dboard-wrapper .tb-container {
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    border-radius: 3px;
    background-color: var(--light-color);
    height: 100%;
}

.tb-container .dboard-text {
    text-transform: uppercase;
    font-family: 'Open sans', sans-serif;
    letter-spacing: 1px;
    word-spacing: 2px;
    background-color: #f4f4f4;
    width: 50px;
}

.tb-container .dropdown-divider {
    margin-top: 0 !important;
}

.tb-container .dboard-text .dboard-title {
    font-size: 22px;
    color: var(--dark-color);
    font-weight: 700;
}

.tb-container .dboard-text .dboard-othtext {
    line-height: 20px;
    font-size: 12px;
    color: var(--dark-color-50p);
}

.dboard-wrapper .ov-container {
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    border-radius: 3px;
    background-color: var(--light-color);
    width: 100%;
    height: 100%;
}


/*
|———————————————————————————————————————————————————————————————
| 1st row/ overview, function...
|———————————————————————————————————————————————————————————————
|
| Here, you can edit the style of overview
*/
/* Overview title and other text container */
.overview-txt {
    justify-content: center;
    align-items: left;
    height: 100%;
    width: 60%;
    padding: 40px;
    font-family: 'Open sans', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    word-spacing: 2px;
}

/* Set of different background color for title and text container */
.ov-completed {
    background-color: var(--completed-transparent);
}

.ov-pending {
    background-color: var(--pending-transparent);
}

.ov-exception {
    background-color: var(--info-transparent);
}

/* Title and text / overview section */
.overview-txt .ov-title {
    font-size: 30px;
    font-weight: 700;
    color: var(--dark-color);
    margin-bottom: 10px;
}

.overview-txt .ov-oth-txt {
    font-size: 14px;
    font-weight: 400;
    margin-left: 1px;
}

/* The count styling for all overview numbers */
.overview-prcnt {
    padding: 40px;
    height: 100%;
}

.overview-prcnt #ovTotal1, 
.overview-prcnt #ovTotal2, 
.overview-prcnt #ovTotal3 {
    width: 120px !important;
    height: 120px !important;
    position: relative;
    margin-left: auto;
}

#ovTotal1 .progressbar-text {
    color: var(--completed) !important;
}

#ovTotal2 .progressbar-text {
    color: var(--pending) !important;
}

#ovTotal3 .progressbar-text {
    color: var(--info) !important;
}

 /* Responsiveness for overview */
 @media (max-width: 1280px) {
    .overview-txt {
        width: 70%;
        padding: 15px;
        letter-spacing: 1px;
        word-spacing: 1px;
    }
    
    .overview-txt .ov-title {
        font-size: 20px;
        font-weight: 700;
        color: var(--dark-color);
        margin-bottom: 5px;
    }
    
    .overview-txt .ov-oth-txt {
        font-size: 10px;
        font-weight: 400;
        margin-left: 1px;
    }
    
    .overview-prcnt {
        padding: 30px 15px;
        height: 100%;
    }
    
    .overview-prcnt #ovTotal1, 
    .overview-prcnt #ovTotal2,
    .overview-prcnt #ovTotal3 {
        width: 70px !important;
        height: 70px !important;
    }

    .progressbar-text {
        font-size: 1rem !important;
    }
  } /* end */


/*
|———————————————————————————————————————————————————————————————
| 2nd row 1st column / summary, function...
|———————————————————————————————————————————————————————————————
|
| Here, you can edit the style of each status for the summary and exception
|
*/
/* Status default style */
.dboard-wrapper table td span{
    padding: 5px 0;
    font-size: 12px;
    border-radius: 3px;
    float: left;
    width: 100%;
}

/* Status — For Coaching */
.dboard-wrapper table td span.stats-for-coaching {
    padding: 5px 10px;
    font-weight: 700;
    background-color: var(--for-coaching-transparent);
    color: var(--for-coaching);
    cursor: default;
    width: auto;
    white-space: nowrap;

}

/* Status — Pending */
.dboard-wrapper table td span.stats-pending {
    padding: 5px 10px;
    font-weight: 700;
    background-color: var(--pending-transparent);
    color: var(--pending);
    cursor: default;
    width: auto;
    white-space: nowrap;
}

/* Status — Completed */
.dboard-wrapper table td span.stats-completed {
    padding: 5px 10px;
    font-weight: 700;
    background-color: var(--completed-transparent);
    color: var(--completed);
    width: auto;
    white-space: nowrap;
} /* Status default style end/ */

/*
| Here, you can edit the style of each action for the summary 
*/
/* Action button default style */
.dboard-wrapper table td #action-btn {
    padding: 5px 10px !important;
    font-size: 12px;
    font-weight: 700;
    text-align: center;
    border-radius: 3px;
    cursor: pointer;
    max-width: 120px;
    width: 100%;
}

/* Action button / Create session */
.action-btn-crsession {
    background-color: var(--info);
    color: var(--light-color);
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.action-btn-crsession:hover, .action-btn-crsession:focus, .action-btn-crsession:active  {
    background-color: #4898b0;
    box-shadow: 0 0 0 0.2rem rgba(72, 152, 176,.25);
} 

/* Action button / Retake session */
.action-btn-rtsession {
    background-color: var(--btemp-danger);
    color: var(--light-color);
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.action-btn-rtsession:hover, .action-btn-rtsession:focus, .action-btn-rtsession:active  {
    background-color: #bf4845;
    box-shadow: 0 0 0 0.2rem rgba(191, 72, 69,.25);
} 
/* Action button default style end/ */ /*end */


/*
|———————————————————————————————————————————————————————————————
| 3rd row / exception, function...
|———————————————————————————————————————————————————————————————
|
| Here, you can edit the style of exception
|
*/
/* Add and Edit button for exception */
.excp-btn #edit-btn, 
.excp-btn #add-btn,
#btn-delete {
    padding: 5px 10px !important;
    font-size: 12px;
    font-weight: 700;
    text-align: center;
    border-radius: 3px;
    cursor: pointer;
    max-width: 80px;
    width: 100%;
} 

/* Action button / Create session */
.action-btn-edit,
.action-btn-add {
    background-color: var(--info) !important;
    color: var(--light-color);
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    border: none !important;
}

.action-btn-edit:hover, .action-btn-edit:focus, .action-btn-edit:active,
.action-btn-add:hover, .action-btn-add:focus, .action-btn-add:active  {
    background-color: #4898b0;
    box-shadow: 0 0 0 0.2rem rgba(72, 152, 176,.25);
}

/* Action button / Retake session */
.action-btn-delete {
    background-color: var(--btemp-danger);
    color: var(--light-color);
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.action-btn-delete:hover, .action-btn-delete:focus, .action-btn-delete:active  {
    background-color: #bf4845;
    box-shadow: 0 0 0 0.2rem rgba(191, 72, 69,.25);
}
/* end */


/*
|———————————————————————————————————————————————————————————————
| 4th row 1st column / top resource, function...
|———————————————————————————————————————————————————————————————
|
| Here, you can edit the style of top resource, ranking, etc.
|
*/
/* Top resource image, name and role */
.top-resource-container .tr-section-container {
    display: flex;
    height: 100%;
}

.top-resource-container .tr-section1 {
    display: inline-flex;
    justify-content: left;
    align-items: center;
    height: 100%;
    width: 100%;
}


.top-resource-container div.r-name {
    font-size: 20px;
    line-height: 14px;
    font-weight: 700;
    letter-spacing: 1px;
    word-spacing: 2px;
}

.top-resource-container div.r-role {
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    text-transform: uppercase;
    margin-top: 6px;
    letter-spacing: 1px;
    word-spacing: 2px;
} 

.top-resource-container .tr-section2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-resource-container .tr-section2 span {
    font-size: 20px;
    font-weight: 700;
    padding: 15px 25px;
    border-radius:100%;
}

.top-resource-container .fa {
    width: 40px;
    height: auto;
    text-align: center;
    font-size: 2rem;
    text-align: left;
    color: var(--btemp-success);
}

/* title-scorecard-container */
.title-scorecard-container {
    font-weight: 400;
    letter-spacing: 2px;
    font-family: 'Open sans', sans-serif;
    font-size: 12px;
    width: 80%;
    height: auto;
    border-top-right-radius: 50px;
    border-bottom-right-radius:50px;
    padding: 5px 10px 5px 5px;
    background-color: #fff;
    text-align: center;
    box-shadow: 5px 5px 10px #f4f4f4;
}

/* Total score */
.totalScore-container {
    display: flex !important;
    align-items: center;
    justify-content: center;
    white-space: normal;
    height: 100%;
}

.totalScore-container .total-heading {
    font-family: 'Open sans', sans-serif;
    font-size: 14px;
    letter-spacing: 1px;
    word-spacing: 2px;
}

.totalScore-container .total-score {
    font-family: 'Open sans', sans-serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 1px;
    word-spacing: 2px;
} /* end */

/* Remove the padding right and left */
.remove-padding .remove-p-right {
    padding-right: 0;
}
.remove-padding .remove-p-left {
    padding-left: 0;
}

/* Progress bar and score */
.eachScore-container .progress{
    margin-bottom: 15px;
}

.eachScore-container .progress:last-child{
    margin-bottom: 0px;
}

.eachScore-container span {
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 2px;
    text-align: left;
}

#count-example {
    font-size: 10px;
    font-weight: 400;
    text-shadow: 1px 1px 2px var(--dark-color);
    z-index: 99;
}

.progress {
    height: 2em !important;
    border-radius: 50px !important;
}
.progress .progress-bar {
    padding-left: 10px;
    transition: width 0.3s ease-in;
    overflow: visible;
}


/*
|———————————————————————————————————————————————————————————————
| Modal styling
|———————————————————————————————————————————————————————————————
|
| Here, you can edit the style of the modal element
|
*/
/* Global styling for modal */
@media (min-width: 576px) {
    .modal-dialog {
        /* Modal container width set to 600px */
        max-width: 600px !important;
        margin: 1.75rem auto;
    }
}

/* Header */
.modal-header {
    background-color: var(--primary-color) !important;
    padding: 1em 3em 1em !important;
}

/* Title */
.modal-header .modal-title {
    font-size: 16px;
    font-family: 'Open sans', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 1px;
    color: var(--light-color);
}

/* Close/X icon */
.close {
    color: #fff !important;
    text-shadow: 0 1px 0 #242424;
    transition: opacity 0.3s ease-out;
}

.close:hover {
    color: #fff !important;
}

.close:not(:disabled):not(.disabled):focus, 
.close:not(:disabled):not(.disabled):hover {
    opacity: 0.8;
}

/* Modal body */
.modal-body {
    padding: 3rem !important;
}

/* Modal field name */
.custom-label {
    width: 20%;
    font-family: 'Open sans', sans-serif;
    margin-bottom: 0px;
    margin-top: 6px;
    font-weight: 700;
}

.custom-control-label {
    font-weight: 700;
}

.custom-control-label span {
    font-weight: 400;
    letter-spacing: .5px;
}

/* Modal input fields */
.custom-select {
    font-family: 'Open sans', sans-serif;
}

/* Modal dropdown option cannot add styling
.custom-select .modal-option {
    font-family: 'Open sans', sans-serif !important;
    min-height: 1.5em !important;
    padding: 2px 4px !important;
} */

.note-style {
    padding: 5px 10px;
    border-radius: 3px;
    background-color: var(--pending-transparent);
    color: var(--pending);
}

/* Modal footer */
.modal-footer {
    border-top: none !important;
    background-color: #f4f4f4;
    padding: 1em 3em 1em !important;
}

/* Modal global button */
.modal-btn {
    border: none;
    outline: none;
    padding: 10px !important;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    border-radius: 3px;
    cursor: pointer;
    max-width: 70px;
    width: 100%;
}

/* Modal buttong styling / close && start */
.btn-close {
    background-color: var(--btemp-inverse) !important;
    color: var(--light-color);
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    border: none !important;
}

.btn-close:hover, .btn-close:focus, .btn-close:active {
    background-color: #151617 !important;
    box-shadow: 0 0 0 0.2rem rgba(21, 22, 23, 0.25);
}

.btn-start {
    background-color: var(--info) !important;
    color: var(--light-color);
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    border: none !important;
}

.btn-start:hover, .btn-start:focus, .btn-start:active {
    background-color: #4898b0 !important;
    box-shadow: 0 0 0 0.2rem rgba(72, 152, 176,.25);
} /* end */



    /*
    .scrollbar {
        float: left;
        height: 300px;
        width: 100%;
        background: #fff;
        overflow-y: scroll;
    }

    .force-overflow {
        min-height: 500px;
    }

    .scrollbar-primary::-webkit-scrollbar {
        width: 7px;
        background-color: #F4f4f4; 
    }

    .scrollbar-primary::-webkit-scrollbar-thumb {
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
        background-color: var(--primary-color); 
    }

    .scrollbar-primary {
    scrollbar-color: var(--primary-color) #F4f4f4;
    } */
