@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap');

:root {
    --primary-color: #003a5d;
    --secondary-color: #FFC700;
    --tertiary-color: #E62E12;
    --link-color: #FFC700;
    --light-color: #ffffff;
    --light-color-50p: rgba(255, 255, 255, 0.6);
    --dark-color: #595959;
    --dark-color-50p: rgba(89,89,89, 0.6);
}