* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('../images/bg_index-default.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    backdrop-filter: blur(20px);
    height: 100%;
}

/* General styling for form */
.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: 0 5px !important;
    font-size: 1rem;
    font-weight: 400;
    line-height: 0;
    color: var(--dark-color);
    background-color: #fff;
    background-clip: padding-box;
    border: none !important;
    border-radius: none !important;
    margin-top: -10px;
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: none;
    outline: 0 !important;
    box-shadow: none !important;
}

.wrapper {
    padding: 50px 100px;
    width: 100%;
    height: 100%;
}

.main-container {
    width: calc(100vw - 200px);
    height: calc(100vh - 100px);
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
    background-color: #fff;
}

/* First column / Login column */
.intro-one {
    padding: 50px !important;
    background-image: url('../images/bg_dots.png');
    background-size: cover;
    background-position: right top;
    background-repeat: no-repeat;
}

.intro-one .introOne-wrapper {
    max-width: 70%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
}

/* Brand name styling */
.intro-one .brand-name{
    font-size: 50px;
    font-family: 'Open sans', sans-serif;
}

.intro-one .brand-name span:nth-child(1){
    color: var(--dark-color);
    font-weight: 700;
}

.intro-one .brand-name span:nth-child(2){
    color: var(--tertiary-color);
    font-weight: 700;
}

.intro-one .brand-name span:last-child {
    font-family: 'Open sans', sans-serif;
    font-weight: 300;
    color: var(--dark-color-50p);
    font-size: 38px;
    letter-spacing: 2px;
    word-spacing: 2px;
    text-transform: uppercase;
    margin-left: 2px;
}

/* Greetings styling */
.greetings {
    display: block;
    margin-top: 80px;
    margin-bottom: 60px;
}

.greetings .day-greeting{
    font-family: 'Open sans', sans-serif;
    font-size: 40px;
    font-weight: 300;
    color: var(--dark-color);
    width: 80%;
}

.greetings .slogan-greeting{
    font-family: 'Open sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    margin-left: 20px;
    width: 80%;
}

/* Form styling */
.field-items {
    display: block;
    width: 70%;
    padding: 0 10px;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.field-items:hover, .field-items:focus-within{
    color: var(--dark-color);
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}

.field-items .item-f {
    display: block;
    width: 75px;
    padding: 5px 5px;
    background-color: var(--light-color);
    margin-top: -18px;
    cursor: pointer;
}

.field-items .item-f.username {
    width: 75px;
}

.field-items .item-f.password {
    width: 70px;
}

.custom-control-label {
    color: var(--dark-color);
}

/* Sign in button */
.custom-btn {
    background: var(--tertiary-color) !important;
    min-width: 150px;
    width: 30%;
    height: 50px;
    color: var(--light-color) !important;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.custom-btn:hover, .custom-btn:focus, .custom-btn:active  {
    background-color: #cf2a11 !important;
    box-shadow: 0 0 0 0.2rem rgba(207, 42, 17,.25);
}
/* End of first column styling */


/* Second column styling */
.intro-two {
    background:linear-gradient(rgba(0, 58, 93, 0.8), rgba(0, 58, 93, 0.8)), url('../images/bg_index.jpg');
    background-size: cover;
    background-position: bottom center;
    color: var(--light-color);
    padding: 0 !important;
}

.intro-two #particles-js {
    height: calc(100vh - 100px);
}

.intro-two .graphic-brname, .intro-two .graphic-slogan {
    position: absolute;
    top: 20%;
    left: 0;
    right: 0;
    text-align: center;
    float: none;
    user-select: none;
    pointer-events: none;
}

.intro-two .graphic-brname {
    font-size: 40px;
    margin: 0 auto;
    cursor: default;
}

.intro-two .graphic-brname span:first-child {
    font-weight: 700;
}

.intro-two .graphic-brname span:last-child {
    font-weight: 300;
    font-size: 28px;
    letter-spacing: 2px;
    word-spacing: 2px;
    text-transform: uppercase;
    margin-left: 2px;
}

.intro-two .graphic-slogan {
    display: block;
    float: none;
    width: 70%;
    margin: 200px auto 0;
    font-family: 'Open sans', sans-serif;
    color: var(--light-color);
    cursor: default;
    background-color: #666666;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: rgba(255,255,255,0.5) 0px 3px 15px;
}

.intro-two .graphic-slogan div{
    font-size: 20px;
    line-height: 32px;
    font-weight: 300;
    letter-spacing: 4px;
    word-spacing: 7px;
    text-transform: uppercase;
    color: var(--light-color-50p);
}
