/* For coaching table */
.dboard-wrapper table th, .dboard-wrapper table td {
    white-space: pre-line;
    line-height: 24px;
}

.session-type {
    font-size: 30px;
    color: var(--dark-color-50p);
    text-transform: uppercase;
    
}

.field-container {
    color: var(--dark-color);
}

.field-container .fields-name {
    line-height: 28px;
} 

.field-container .fields-name span:first-child {
    font-weight: 600;
    text-transform: uppercase;
}

.session-container .table .thead-custom {
    background: #343A40 !important;
    -webkit-print-color-adjust:exact;
}

.session-container table thead tr th {
    color: var(--light-color) !important;
}

/* Table title/headings */
#scorecard thead tr th {
    text-transform: uppercase;
    letter-spacing: .5px;
    font-weight: 400;
    padding: 15px;
}

/* Table headings and data aligned to center except column 3 */
#scorecard thead tr th, #scorecard tbody tr td:not(:nth-child(3)){
    text-align: center;
}

/* Set the column 3 of each table data to max width with 350px */
#scorecard tbody tr td:nth-child(3) {
    max-width: 350px;
}

#scorecard tbody tr td {
    color: var(--dark-color);
}

/* Total score styling */
#scorecard tbody tr td:last-child {
    font-size: 24px;
    font-weight: 700;
}

/* Score tiering row */
.extra-heading {
    padding: 15px;
    color: var(--light);
    background: #404040;
    border: 1px solid #454d55;
    text-align: center;
}

.session-tiering-container .table {
    margin-bottom: 0;
}

.session-tiering-container .table thead th {
    background: #808080;
    color: var(--light);
    border: 1px solid #aaa !important;
    font-weight: 400;
}

.session-tiering-container .table td, .session-tiering-container .table th {
    padding: 5px !important;
    text-align: center;
    color: var(--dark-color);
}

.extra-footer {
    color: var(--dark-color);
    font-style: italic;
    text-align: center;
    background-color: #D9D9D9;
    padding: 15px;
    margin-bottom: 1em;
}

/* Notes */
.card-header {
    text-transform: uppercase;
    letter-spacing: .5px;
    font-weight: 400;
}

.session-field {
    color: var(--dark-color);
    width: 100%;
    height: 150px;
    border: none;
    resize: none;
}

/* label */
label {
    white-space: normal;
    word-wrap: break-word;
    color: var(--dark-color);
}


/* Coaching bottom */
.signi-container {
    width: 90%;
}

/* Checkbox styling */
#session-verify-trigger-wrapper .custom-control-label{
    cursor: pointer;
}

/* For input password */
#session-verify-wrapper input {
    width: 200px !important;
    display: block;
}

#session-verify-wrapper {
    flex-direction: column !important;
}

#session-verify-wrapper .effect-container {
    margin-bottom: 8px;
    width: 200px;
}

/* Sign button */

.signi-btn {
    padding: 7px !important;
    font-weight: 600;
    text-align: center;
    letter-spacing: .5px;
    border-radius: 3px;
    border: none;
    cursor: pointer;
    width: 100%;
    background-color: var(--info);
    color: var(--light-color);
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.signi-btn:hover, .signi-btn:focus, .signi-btn:active  {
    background-color: #4898b0;
    box-shadow: 0 0 0 0.2rem rgba(72, 152, 176,.25);
} 