#scorecard thead tr {
    text-align: center;
}
#scorecard tbody tr td:nth-child(1),
#scorecard tbody tr td:nth-child(2),
#scorecard tbody tr td:nth-child(4),
#scorecard tbody tr td:nth-child(5),
#scorecard tbody tr td:nth-child(6),
#scorecard tbody tr td:nth-child(7) {
    text-align: center;
}
#scorecard tbody tr td:nth-child(7) {
    font-size: 24px;
    font-weight: 700;
}
label {
    white-space: normal;
    word-wrap: break-word;
}
.session-field {
    width: 100%;
    min-height: 200px;
    border: none;
    resize: none;
}

#session-verify-wrapper input {
    display: block;
    min-width: 200px;
    padding: 4px;
    margin-bottom: 8px;
}